:root {
    --court-item-bg-color: #f9f7f7;
    --court-item-author-color: #4e4e4e;
    --court-item-date-bg-color: #ececec;
    --court-item-border-bottom-color: #ececec;
    --court-modal-bg-color: white;
    --court-tab-bg-color: #ececec;
    --court-tab-hover-bg-color: #dad8d8;
}

[data-theme="dark"] {
    --court-item-bg-color: #323232;
    --court-item-author-color: #aeabab;
    --court-item-date-bg-color: #434343;
    --court-item-border-bottom-color: #898787;
    --court-modal-bg-color: rgb(45, 43, 43);
    --court-tab-bg-color: #4e4d4d;
    --court-tab-hover-bg-color: #626060;
}

.header {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: var(--header);
    color: white;
}

.title {
    font-size: 50px;
    font-weight: 800;
}

.summary {
    font-size: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

.error {
    background-color: rgb(161, 27, 27);
    color: white;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 40px;
}

.results {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.result {
    padding-bottom: 10px;
    cursor: pointer;
}

.result:hover {
    background-color: var(--court-item-bg-color);
}

.resDefendant {
    font-weight: bold;
}

.resDate {
    background-color: var(--court-item-date-bg-color);
    padding: 1px 10px;
    font-size: 14px;
    border-radius: 8px;
    margin-top: 4px;
    width: fit-content;
}

.resDate>span {
    font-weight: 600;
    color: var(--ifm-color-primary);
}

.result:not(:last-child) {
    border-bottom: 1px solid var(--court-item-border-bottom-color);
}

.pagination {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

.activePage {
    background-color: var(--header);
    color: white;
}

.jumpToPage {
    display: flex;
    gap: 5px;
    margin-top: 10px;
    font-size: 14px;
    align-items: center;
    border: 1px solid #ececec;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: fit-content;
    padding: 10px;
}

.jumpToPage button {
    font-size: 12px;
    height: 25px;
}

.jumpToPageError {
    color: red;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: var(--court-modal-bg-color);
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
    max-height: 90%;
    overflow-y: auto;
    z-index: 1001;
}

.modalCloseBtn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: gray;
    margin-top: 6px;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.modalFooter {
    border-top: 1px solid #ececec;
    padding-top: 10px;
}

.requestIdModal {
    font-weight: 300;
    font-size: 14px;
}

.requestHeadingModal {
    font-weight: bold;
    font-size: 26px;
    border-bottom: 2px solid #c3c1c1;
    margin-bottom: 5px;
}

.tabs {
    margin-bottom: 20px;
}

.tab {
    background: none;
    border: none;
    background-color: var(--court-tab-bg-color);
    font-size: 22px;
    padding: 5px 15px;
}

.tab:hover {
    background-color: var(--court-tab-hover-bg-color);
    cursor: pointer;
}

.activeTab {
    background-color: var(--blue-lighter);
    color: white;
}

.activeTab:hover {
    background-color: var(--blue);
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 40px;
    }

    .summary {
        font-size: 18px;
        line-height: 26px;
    }

    .grid {
        grid-template-columns: 1fr;
    }
}