.authCard {
    background-color: var(--ifm-background-surface-color);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

.title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.loginButton {
    width: 100%;
    height: 35px;
}

.existingAccount {
    margin-top: 20px;
    font-size: 14px;
    max-width: 450px;
    text-align: center;
}

.error {
    color: red;
}

.success {
    background-color: green;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
    margin-bottom: 15px;
    line-height: 1.2;
    font-size: 14px;
}