:root {
    --court-hearing-card-border-color: #e4e4e4;
    --court-hearing-card-stripe-color: #fbe3fa;
}

[data-theme="dark"] {
    --court-hearing-card-border-color: #393939;
    --court-hearing-card-stripe-color: #36204b;
}

.card {
    border-radius: 10px;
    border: 1px solid var(--court-hearing-card-border-color);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.title {
    padding: 5px 20px;
    background-color: var(--blue-lighter);
    color: white;
    margin-bottom: 5px;
}

.defendant {
    font-size: 18px;
    font-weight: 700;
}

.section,
.sectionAlt {
    padding: 2px 20px;
}

.section,
.sectionAlt {
    font-size: 14px;
    margin-bottom: 4px;
}

.sectionAlt {
    background-color: var(--court-hearing-card-stripe-color);
    border-top: 1px solid var(--court-hearing-card-border-color);
}

@media (max-width: 768px) {
    .title,
    .section,
    .sectionAlt {
        padding: 14px 16px;
    }
}