:root {
    --btn-primary-bg: var(--blue-lighter);
    --btn-primary-hover-bg: var(--blue);
    --btn-primary-color: #ffffff;

    --btn-secondary-bg: #eaeaea;
    --btn-secondary-hover-bg: #cacaca;
    --btn-secondary-color: #333333;

    --btn-danger-bg: #dc3545;
    --btn-danger-hover-bg: #b52a38;
    --btn-danger-color: #ffffff;
}

[data-theme="dark"] {
    --btn-secondary-bg: #363636;
    --btn-secondary-hover-bg: #444444;
    --btn-secondary-color: #eaeaea;
}

.button {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    display: inline-flex;
    height: 32px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.smallerPadding {
    padding: 4px 12px;
    height: 26px;
}

.primary {
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-color);
}

.primary:hover {
    background-color: var(--btn-primary-hover-bg);
}

.secondary {
    background-color: var(--btn-secondary-bg);
    color: var(--btn-secondary-color);
}

.secondary:hover {
    background-color: var(--btn-secondary-hover-bg);
}

.danger {
    background-color: var(--btn-danger-bg);
    color: var(--btn-danger-color);
}

.danger:hover {
    background-color: var(--btn-danger-hover-bg);
}

.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}