:root {
    --charts-card-color: black;
    --charts-card-bg-color: white;
    --charts-card-border-color: #ececec;
    --charts-card-muted-color: #555454;
    --charts-card-hover-bg-color: #f2f0f0;
    --charts-section-title-border-color: #D8D8D8;
}

[data-theme="dark"] {
    --charts-card-color: white;
    --charts-card-border-color: #2f2e2e;
    --charts-card-bg-color: rgb(33, 33, 33);
    --charts-card-muted-color: #aeabab;
    --charts-card-hover-bg-color: #292929;
    --charts-section-title-border-color: #444950;
}

.section {
    margin-bottom: 30px;
}

.sectionTitle {
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid var(--charts-section-title-border-color);
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.sectionContent {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    display: flex;
    text-decoration: none;
    color: var(--charts-card-color);
    border: 1px solid var(--charts-card-border-color);
    width: fit-content;
    transition: transform 100ms ease-in-out;
    border-top-right-radius: 8px;
    background-color: var(--charts-card-bg-color);
    border-bottom-right-radius: 8px;
}

.card:hover {
    text-decoration: none;
    color: var(--charts-card-color);
    transform: scale(1.02);
    background-color: var(--charts-card-hover-bg-color);
}

.cardColor {
    width: 5px;
    background-color: green;
}

.cardContent {
    padding: 10px 20px;
}

.cardTitle {
    font-weight: bold;
}

.cardSummary {
    color: var(--charts-card-muted-color);
    font-size: 14px;
}