.heroBanner {
    padding: 4rem 0;
    text-align: center;
    overflow: hidden;
    background-image: url(/img/background.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    min-height: 400px;
    width: 100%;
}

.heroTitle {
    font-size: 80px;
}

.heroSubtitle {
    font-size: 30px;
    line-height: 40px;
}

.heroContainer {
    max-width: 60%;
}

@media screen and (max-width: 1200px) {
    .heroContainer {
        max-width: 90%;
    }
}

@media screen and (max-width: 1000px) {
    .heroBanner {
        padding: 2rem;
    }

    .heroContainer {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .heroTitle {
        font-size: 60px;
    }

    .heroSubtitle {
        font-size: 26px;
        line-height: 35px;
    }
}

@media screen and (max-width: 568px) {
    .heroBanner {
        padding: 5px;
        min-height: 300px;
    }

    .heroTitle {
        font-size: 40px;
    }

    .heroSubtitle {
        font-size: 20px;
        line-height: 26px;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.featureImage {
    height: 200px;
}