.beta {
    display: flex;
    justify-content: space-between;
    background-color: var(--purple);
    color: white;
    padding: 2px 20px;
    font-weight: bold;
    font-size: 14px;
}

.beta p {
    margin: 0;
}

.beta a {
    color: white;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .beta p {
        line-height: 18px;
    }

    .beta a {
        display: none;
    }
}