:root {
    --foi-req-bg-color: #f9f7f7;
    --foi-req-author-color: #4e4e4e;
    --foi-req-date-bg-color: #ececec;
    --foi-req-border-bottom-color: #ececec;
    --modal-bg-color: white;
}

[data-theme="dark"] {
    --foi-req-bg-color: #323232;
    --foi-req-author-color: #aeabab;
    --foi-req-date-bg-color: #313131;
    --foi-req-border-bottom-color: #4a4949;
    --modal-bg-color: rgb(45, 43, 43);
}

.header {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: var(--header);
    color: white;
}

.title {
    font-size: 50px;
    font-weight: 800;
}

.summary {
    font-size: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

.error {
    background-color: rgb(161, 27, 27);
    color: white;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 40px;
}

.results {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resultsCompact {
    gap: 5px;
}

.request {
    padding-bottom: 10px;
    cursor: pointer;
}

.request:hover {
    background-color: var(--foi-req-bg-color);
}

.requestCompact {
    padding-bottom: 5px;
}

.reqTitle {
    font-weight: bold;
}

.reqTitleCompact {
    font-weight: 600;
}

.reqAuthor {
    font-size: 14px;
    color: var(--foi-req-author-color);
}

.reqDate {
    background-color: var(--foi-req-date-bg-color);
    padding: 1px 10px;
    font-size: 14px;
    border-radius: 8px;
    margin-top: 4px;
    width: fit-content;
}

.reqDate>span {
    font-weight: 600;
    color: var(--blue-text);
}

.reqDateCompact {
    font-size: 13px;
    margin-top: -5px;
}

.request:not(:last-child) {
    border-bottom: 1px solid var(--foi-req-border-bottom-color);
}

.pagination {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

.activePage {
    background-color: var(--header);
    color: white;
}

.totalsPerYear {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    column-gap: 10px;
    row-gap: 5px;
}

@media (max-width: 600px) {
    .totalsPerYear {
        grid-template-columns: repeat(2, 1fr);
    }
}

.totalsCheckbox {
    display: flex;
    gap: 5px;
}

.totalsCheckbox>label {
    margin: 0;
}

.totalsCheckbox>label>span {
    color: #505a5f;
    font-weight: 200;
    font-size: 14px;
}

.jumpToPage {
    display: flex;
    gap: 5px;
    margin-top: 10px;
    font-size: 14px;
    align-items: center;
    border: 1px solid #ececec;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: fit-content;
    padding: 10px;
}

.jumpToPage button {
    font-size: 12px;
    height: 25px;
}

.jumpToPageError {
    color: red;
}

.disclaimer {
    font-size: 14px;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: var(--modal-bg-color);
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
    max-height: 90%;
    overflow-y: auto;
    z-index: 1001;
}

.modalCloseBtn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: gray;
    margin-top: 6px;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.modalFooter {
    border-top: 1px solid #ececec;
    padding-top: 10px;
}

.requestIdModal {
    font-weight: 300;
    font-size: 14px;
}

.requestHeadingModal {
    font-weight: bold;
    font-size: 26px;
    border-bottom: 2px solid #c3c1c1;
    margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 40px;
    }

    .summary {
        font-size: 18px;
        line-height: 26px;
    }

    .grid {
        grid-template-columns: 1fr;
    }
}