:root {
    --input-border-color: #ccc;
}

[data-theme="dark"] {
    --input-border-color: #575757;
}

.input {
    padding: 0.5rem 1rem !important;
    margin-bottom: 0.6rem !important;
    border: 1px solid var(--input-border-color) !important;
    border-radius: 8px !important;
    font-size: 1rem !important;
}