.popup {
    padding: 0 10px;
}

.popup > p {
    margin: 0;
}

.name {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.shelterAvailable {
    font-size: 14px;
    background-color: rgb(17, 193, 82);
    border-radius: 8px;
    padding: 0 10px;
    color: white;
    text-align: center;
}

.shelterUnavailable {
    font-size: 14px;
    background-color: rgb(193, 17, 17);
    border-radius: 8px;
    padding: 0 10px;
    color: white;
    text-align: center;
}

.departuresTitle {
    padding-top: 10px;
    font-weight: bold;
    font-size: 14px;
}

.departuresError {
    font-size: 14px;
}

.departuresTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    margin-top: 3px;
}

.departuresTable th,
.departuresTable td {
    padding: 2px 12px; 
    text-align: left;
}

.departuresTable th {
    font-weight: bold;
}
