:root {
    --layer-checkmark-bg-color: #eee;
    --layer-checkmark-bg-hover-color: #ccc;
    --layer-border-bottom-color: #f0eded;
}

[data-theme="dark"] {
    --layer-checkmark-bg-color: #555454;
    --layer-checkmark-bg-hover-color: rgb(111, 111, 111);
    --layer-border-bottom-color: #444343;
}

.layerControl {
    padding-top: 15px;
    border-bottom: 1px solid var(--layer-border-bottom-color);
}

.subOptions {
    padding-left: 20px;
    margin-bottom: 10px;
}

.subOptionOptions {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
}

.subOptionSectionTitle {
    margin: 0;
    margin-bottom: 5px;
}

.subOptionGroup {
    font-size: 14px !important;
    margin-bottom: 5px !important;
    padding-left: 20px !important;
    line-height: 16px !important;
}

.subOptionGroup .checkmark {
    height: 15px !important;
    width: 15px !important;
}

.subOptionGroup .checkmark:after {
    left: 4px !important;
    top: 2px !important;
    width: 3px !important;
    height: 6px !important;
}

/* W3C Schools */
.checkboxGroup {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 26px;
}

.checkboxGroup input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--layer-checkmark-bg-color);
}

.checkboxGroup:hover input~.checkmark {
    background-color: var(--layer-checkmark-bg-hover-color);
}

.checkboxGroup input:checked~.checkmark {
    background-color: var(--ifm-color-primary);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkboxGroup input:checked~.checkmark:after {
    display: block;
}

.checkboxGroup .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}