/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #2e8555;
    --ifm-color-primary-dark: #29784c;
    --ifm-color-primary-darker: #277148;
    --ifm-color-primary-darkest: #205d3b;
    --ifm-color-primary-light: #33925d;
    --ifm-color-primary-lighter: #359962;
    --ifm-color-primary-lightest: #3cad6e;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

    --purple: rgb(169, 42, 219);
    --blue: #383c7a;
    --blue-lighter: #5055a4;
    --blue-text: #2e5f99;
    --ifm-color-primary: var(--purple);

    --header: var(--blue);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
    --purple: rgb(207, 124, 239);
    --blue: #464b8a;
    --blue-lighter: #4c5198;
    --blue-text: #6be5e8;

    --ifm-color-primary: var(--purple);
    --ifm-color-primary-dark: #21af90;
    --ifm-color-primary-darker: #1fa588;
    --ifm-color-primary-darkest: #1a8870;
    --ifm-color-primary-light: #29d5b0;
    --ifm-color-primary-lighter: #32d8b4;
    --ifm-color-primary-lightest: #4fddbf;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.btn {
    height: 30px;
    font-size: 15px;
    padding: 0 20px;
    border: none;
    border-radius: 6px;
}

.btn:hover {
    cursor: pointer;
}

.btn-primary {
    background: var(--ifm-color-primary);
    color: white;
}

.btn-red {
    background: rgb(221, 30, 30);
    color: white;
}


/* Sidebar category stuff */
.theme-doc-sidebar-menu>.theme-doc-sidebar-item-category:not(:first-child)>div {
    margin-top: 10px;
}

.theme-doc-sidebar-menu>.theme-doc-sidebar-item-category>div:hover {
    background: none;
}

.theme-doc-sidebar-menu>.theme-doc-sidebar-item-category>div>a {
    border-bottom: 1px solid #D6D6D6;
    border-radius: 0;
    font-weight: bold;
    color: black;
}

[data-theme="dark"] .theme-doc-sidebar-menu>.theme-doc-sidebar-item-category>div>a {
    color: white;
    border-bottom-color: #9a9a9a;
}

#account-navbar-item::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    vertical-align: middle;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M470.5 463.6C451.4 416.9 405.5 384 352 384L288 384C234.5 384 188.6 416.9 169.5 463.6C133.9 426.3 112 375.7 112 320C112 205.1 205.1 112 320 112C434.9 112 528 205.1 528 320C528 375.7 506.1 426.2 470.5 463.6zM430.4 496.3C398.4 516.4 360.6 528 320 528C279.4 528 241.6 516.4 209.5 496.3C216.8 459.6 249.2 432 288 432L352 432C390.8 432 423.2 459.6 430.5 496.3zM320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576zM320 304C297.9 304 280 286.1 280 264C280 241.9 297.9 224 320 224C342.1 224 360 241.9 360 264C360 286.1 342.1 304 320 304zM232 264C232 312.6 271.4 352 320 352C368.6 352 408 312.6 408 264C408 215.4 368.6 176 320 176C271.4 176 232 215.4 232 264z"/></svg>') no-repeat center / contain;
}

#account-navbar-item:hover::before {
    filter: invert(27%) sepia(76%) saturate(7480%) hue-rotate(266deg) brightness(92%) contrast(92%);
}