:root {
    --null-bg-color: #efefef;
    --row-separator-color: #dcdcdc
}

[data-theme="dark"] {
    --null-bg-color: #363636;
    --row-separator-color: #7e7e7e;
}

.header {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: var(--header);
    color: white;
}

.title {
    font-size: 50px;
    font-weight: 800;
}

.summary {
    font-size: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

.error {
    background-color: rgb(161, 27, 27);
    color: white;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 40px;
}

.vehicleInfoRow {
    display: flex;
    border-bottom: 1px solid var(--row-separator-color);
    padding: 2px 10px;
}

.vehicleInfoRowTitle {
    font-weight: bold;
    width: 190px;
    margin-right: 10px;
    line-height: 20px;
    padding: 5px 0;
}

.nullVehicle {
    background-color: var(--null-bg-color);
    padding: 10px 30px;
    width: fit-content;
}

.disclaimer {
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 40px;
    }
    
    .summary {
        font-size: 18px;
        line-height: 26px;
    }

    .grid {
        grid-template-columns: 1fr;
    }
}